# Godot-specific
.godot/
*.translation
*.tscn.converted
*.res.converted

# C# / .NET / Rider
bin/
obj/
.idea/
*.user
*.userosscache
*.sln.DotSettings.user

# StS2 Specifics
/Directory.Build.props

# User Created
KnownBugs.txt